<div class="container">
    
    <!--
        <div class ="status text-center p-4">{{statusMessage}}</div>     
        <h2>{{"Hello " + playerData}}</h2>
        <h2>{{"Hey, It's " + gameData}}</h2> -->
        <!-- checking -->
        <div class ="board" *ngFor ="let row of [0,1,2,3]">
            <app-cell *ngFor ="let col of [0,1,2,3]" 
                        [size] = "3"
                        [row] = "row" 
                        [col] = "col" 
                        [piece] = "board[row][col]" 
                        (click) = "currentPlayer==='human'?move(row,col):false">
            </app-cell>
        </div>
    
        <div class ="new-game"></div>
        <button class ="btn btn-primary new-game"
                (click) ="newGame()">New Game</button>
        <button class ="btn btn-primary undo"
                (click) ="undo()">Undo</button>
    </div>
    