.container{
    margin-left: 45%;
    margin-top: -40%;
}
.board{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-start;
    color: palevioletred;
    border: 10px;
}