.container{
    margin-left: 45%;
    margin-top: -37%;
    @media only screen and (max-width: 45em) {
        font-size: 5rem;
        padding: 1.5rem 0;
      }
}
.board{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-start;
    color: palevioletred;
    border: 30px; 
}

h2{
    margin-top: -5%;
}

.new-game{
    margin-top: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    border-color: black;
    padding: 5px;
    font-weight: bolder;
    
}

button:hover{
    background-color:purple;
    }