.container{
    margin-left: 45%;
    margin-top: -37%;
}
.board{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: cornsilk;
    border: 20px;
}
