/* .container{
    position: fixed;
    width: 30%;
    height:30%;
} */

.board{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-start;
    color: palevioletred;
    border: 30px; 

}

.status{
    font-size: medium;
    font-weight: bold;
    color: beige;
    margin-bottom: 15px;
}

.new-game,.undo,.hint{
    margin-top: 10px;
    background-color:rgb(101, 101, 180);
    border-radius: 8px;
    border-color: black;
    padding: 5px;
    font-weight: bolder;
    font-size: 10px;
    
}

button:hover{
    background-color:rgb(126, 191, 207);
}

.btn{
    margin:1%;

}

@media only screen and (min-width: 1024px) {
    .board{
        font-size: 15px;
    }
    .btn{
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .board{
        font-size: 8px;
    }
    .btn{
        font-size: 8px;
    }
} 

@media screen and (max-width: 768px) {
    .board{
        font-size: 6px;
    }
    .btn{
        font-size: 6px;
    }
} 
@media screen and (max-width: 480px) {
    .board{
        font-size: 6px;
    }
    .btn{
        font-size: 6px;
    }
} 

/* .try{
    background-color: blue;
    color: chartreuse;
} */