.cell {
    width: 120px;
    height: 120px; 
       font-size: 5em;
    font-family: sans-serif;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: white;
    opacity: 0.7;
}

@media screen and (min-width: 1024px) {
  .cell {
    width: 140px;
    height: 140px;
    
  }
}  

@media screen and (max-width: 1023px) {
  .cell {
    width: 80px;
    height: 80px;
    
  }
}  
@media screen and (max-width: 768px) {
    .cell {
      width: 80px;
      height: 80px;
    }
  } 

  @media screen and (max-width: 480px) {
    .cell {
      width: 45px;
      height: 45px;
    }
} 
@media screen and (max-width: 320px) {
  .cell {
    width: 40px;
    height: 40px;
  }
} 

.cell :hover {
    background-color: darkgray;
    cursor: pointer;
    
}

.v,.h,.l{
    border: 10px solid black; 
    cursor: pointer;
}


.v:hover,.h:hover,.l:hover {
    background-color: rgb(105, 105, 182);
    transform: scale(1.15); 
}




