@import '~bootstrap/dist/css/bootstrap.min.css';  
.status{
    font-size: x-large;
    font-weight: bold;
    color: beige;
    margin-left:58%;
}

table{
    border-collapse: collapse;
    position: relative;
}
table.smallBoard {
    background-color: white;
    opacity:0.9;
}
table.smallBoard td:hover {
    background-color:rgb(105, 105, 182)
}

td{
    border: 2px solid #333;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    font-weight: bold;
}

table tr:first-child td{
    border-top: 0;
}

table tr:last-child td{
    border-bottom: 0;
}

table tr td:first-child{
    border-left: 0;
}

table tr td:last-child{
    border-right: 0;
}

.bigtable{
    position: relative;
    display: inline-block;
    justify-content: space-evenly;
    width: fit-content;
    height: fit-content;
    margin-left: 50%;
    margin-top: auto;
    background-color: black;
    opacity:0.7;
}

.col{
    padding: 1rem;
    text-align: center;
    background-color: black;
    border: #333 solid 2px;
    height:fit-content;
    justify-content: space-evenly;
    overflow: visible;
}

.row{
    width:fit-content;
    justify-content: space-evenly;
    overflow: visible;
} 

.button{
    margin: 0 0 0 63%;
}
.new-game{
    background-color:rgb(101, 101, 180);
    border-radius: 8px;
    border-color: black;
    padding: 5px;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 4%;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .td{
        height:10px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}