<div class="container">
    <div class = "content">
    <h3>Welcome to the Game!</h3>

    <h4>Please read the rules before playing.</h4>
    
    <h5>
        There are 3 games: 
        Standard - 3 x 3 and Advanced - 4 x 4 , 9 x 9 
    </h5>

    <h6>
        <br>
        <h5>---- 3 x 3 ----</h5>There are four levels in this game, easy, medium, hard and Pro.<br>
                   In order to win the game, player should select three
                   consecutive cells either horizontally, vertically or diagonally.<br><br>
        <h5>---- 4 x 4 ----</h5>In this game, the player can win by either (i) or (ii):<br><br>
                   (i).Selecting four consecutive horizontal,vertical or diagonal cells.<br>
                   (ii).Selecting one of the four sub-diagonals consisting of three cells each.<br><br>
                   <div class="image">
                   <img src="https://i.imgur.com/LcnpXLr.png" width="75" height="75">&nbsp;
                   <img src="https://i.imgur.com/AVjuynb.png" width="75" height="75">&nbsp;
                   <img src="https://i.imgur.com/IDcFv8i.png" width="75" height="75">&nbsp;
                   <img src="https://i.imgur.com/dCCqldE.png" width="75" height="75">
                    </div><br>
        <h5>---- 9 x 9 ----</h5>This is the Ultimate Tic-Tac-Toe Game. In this Strategic Game: <br>
                    1. There is a global 9x9 board comprising of 9 local 3x3 boards.<br>
                    2. First move by any player is arbitrary. Second Player's move is determined by
                    the cell of the local board in which first Player's move was made.<br>
                    i.e: If first player played it's move in top-right corner cell of the central board,second player will
                    have to play it's move in any of the empty spots in the local board situated at top right corner.<br>
                    3. Once a local board is filled or won by one of the players, no more moves can be done in that board.
                    If any player is "sent" to that board,then the next move can be chosen arbitrarily.<br>
                    4. Game play ends when one of the players win three local boards either horizontally,
                    vertically or diagonally.
    </h6>
</div>
</div>
