/* You can add global styles to this file, and also import other style files */

body{
    background-color: navy;
    background-image: url(C:/Users/Nikita Sadhnani/Desktop/microsoft/Tic-Tac-Toe-Engage-2020/tictactoe/src/app/images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
    


