<div class="container">
        <div class="sub-container">
        <h3>Game</h3>
        <h4>Standard</h4>
        <button>3x3</button>
        <h5>Level</h5>
        <div class="btn-group">
                <button (click)="onClickEasy()">Easy</button>
                <button (click)="onClickMedium()">Medium</button>
                <button (click)="onClickHard()">Hard</button>
        </div>

        <h4>Advanced</h4>
            <button (click)="onClickFour()">4x4</button>
            <button (click)="onClickNine()">9x9</button>

        <h3>Starting Player</h3>
        <div class="btn-group">
            <button (click)="playerHuman()">Human</button>
            <button (click)="playerMachine()">Machine</button>
        </div>

        
        </div>
</div>