
h2{
    text-align: center;
}
.leftbar{
    position: fixed;
    margin:10px 0px 0px 15%;
    width: 80%;
}

.threeCross{
    position: fixed;
    margin: 90px 0px 0px 40%;

}
.fourCross{
    position: fixed;
    margin: 65px 0px 0px 40%;
}
