h2{
    text-align: center;
}
.leftbar{
    position: absolute;
    margin: 1% 0px 0px 20%;
    width: 20%;
    align-content: center;

}

.threeCross{
    position: fixed;
    margin: 90px 0px 0px 45%;

}
.fourCross{
    position: absolute;
    margin: 55px 0px 0px 45%;
}
